In [1]:
import seaborn as sns

In [3]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [4]:
tips=sns.load_dataset("tips")
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.3 KB

In [5]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [7]:
tips.shape

(244, 7)

In [8]:
tips_have=tips.iloc[0:220 , : ]  # 현재 가진 데이터
tips_new=tips.iloc[220: , : ]  # 미래의 고객 데이터

tips_new.drop(['size'], axis=1, inplace = True)

tips_have.shape, tips_new.shape

C:\Users\user\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

((220, 7), (24, 6))

In [9]:
sel = ['total_bill', 'tip']

X = tips_have[sel]
y = tips_have['size']  # 우리가 예측할 컬럼(변수)

test_X = tips_new[sel]       # 예측할 친구는 다른 데이터 셋

In [10]:
from sklearn.ensemble import RandomForestClassifier

In [11]:
model = RandomForestClassifier()
model.fit(X, y)
model.score(X, y)

1.0

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
sel = ['total_bill', 'tip']

X = tips_have[sel]
y = tips_have['size']

X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                   random_state=0)

In [24]:
model = RandomForestClassifier(max_depth=1, n_estimators=100, 
                               min_samples_split=5, random_state=0)
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

## 결과값 과적합임

0.7151515151515152
0.6

In [26]:
### knn 모델
### 의사결정트리 모델

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [31]:
## 앙상블
model = RandomForestClassifier(max_depth=6, random_state=0)
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.8787878787878788
0.5818181818181818

In [33]:
## knn 모델
model = KNeighborsClassifier(n_neighbors=3)
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.7212121212121212
0.509090909090909

In [43]:
## 의사결정트리 모델
model = DecisionTreeClassifier(max_depth=4, random_state=0)
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.8
0.5818181818181818

In [44]:
model = SVC()
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.7090909090909091
0.6

In [45]:
## sex, smoker를 추가해서 사용해 보기

In [46]:
tips['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [48]:
tips['smoker'].value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [55]:
dict_sex={"Male":0, "Female":1}
tips['sex_en']=tips['sex'].map(dict_sex).astype("int32")

dict_smoker={"No":0, "Yes":1}
tips['smoker_en']=tips['smoker'].map(dict_smoker).astype("int32")

tips

     total_bill   tip     sex smoker   day    time  size  sex_en  smoker_en
0         16.99  1.01  Female     No   Sun  Dinner     2       1          0
1         10.34  1.66    Male     No   Sun  Dinner     3       0          0
2         21.01  3.50    Male     No   Sun  Dinner     3       0          0
3         23.68  3.31    Male     No   Sun  Dinner     2       0          0
4         24.59  3.61  Female     No   Sun  Dinner     4       1          0
..          ...   ...     ...    ...   ...     ...   ...     ...        ...
239       29.03  5.92    Male     No   Sat  Dinner     3       0          0
240       27.18  2.00  Female    Yes   Sat  Dinner     2       1          1
241       22.67  2.00    Male    Yes   Sat  Dinner     2       0          1
242       17.82  1.75    Male     No   Sat  Dinner     2       0          0
243       18.78  3.00  Female     No  Thur  Dinner     2       1          0

[244 rows x 9 columns]

In [57]:
tips_have = tips.iloc[ 0:220  , :  ] # 현재 가진 데이터
tips_new = tips.iloc[ 220: , : ]     # 미래의 고객  데이터

tips_new.drop(['size'], axis=1, inplace=True)

tips_have.shape, tips_new.shape

C:\Users\user\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

((220, 9), (24, 8))

In [58]:
sel = ['total_bill', 'tip', 'sex_en', 'smoker_en']

X = tips_have[sel]
y = tips_have['size']

X_train, X_test, y_train, y_test = train_test_split(X, y,
                                        random_state=0)

In [60]:
model = DecisionTreeClassifier(max_depth=3, random_state=0)
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.7818181818181819
0.5818181818181818

In [63]:
## 앙상블
model = RandomForestClassifier(max_depth=3, random_state=0)
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.7878787878787878
0.6

In [64]:
### 앙상블
import platform
import matplotlib
from matplotlib import font_manager, rc
import matplotlib

In [65]:
# 한글 및 마이너스 표시 설정
path = "C:/Windows/Fonts/malgun.ttf"
if platform.system() == "Windows":
    font_name = font_manager.FontProperties(fname=path).get_name()
    matplotlib.rc('font', family=font_name)
elif platform.system()=="Darwin":
    rc('font', family='AppleGothic')
else:
    print("Unknown System")

matplotlib.rcParams['axes.unicode_minus'] = False
%matplotlib inline

In [66]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [67]:
### 랜덤 포레스트
# 여러개의 모델 이용
# 데이터를 약간씩 다르게, 사용 변수도 약간 랜덤하게 사용

In [69]:
from sklearn.datasets import load_breast_cancer
import mglearn
cancer = load_breast_cancer()

X=cancer.data
y=cancer.target

X_train, X_test, y_train, y_test = train_test_split(X,y , 
                                       stratify=cancer.target,
                                        random_state=0)

In [72]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeClassifier

In [76]:
# knn
model= KNeighborsClassifier()
model.fit(X_train, y_train)

print("학습용 정확도 : ", model.score(X_train, y_train))
print("테스트용 정확도 : ", model.score(X_test, y_test))

학습용 정확도 :  0.9460093896713615
테스트용 정확도 :  0.916083916083916

In [77]:
# 의사결정트리
model= DecisionTreeClassifier()
model.fit(X_train, y_train)

print("학습용 정확도 : ", model.score(X_train, y_train))
print("테스트용 정확도 : ", model.score(X_test, y_test))

학습용 정확도 :  1.0
테스트용 정확도 :  0.9020979020979021

In [78]:
# 앙상블 - 랜덤포레스트
model= RandomForestRegressor()
model.fit(X_train, y_train)

print("학습용 정확도 : ", model.score(X_train, y_train))
print("테스트용 정확도 : ", model.score(X_test, y_test))

학습용 정확도 :  0.9807114408875698
테스트용 정확도 :  0.8079542976939202

In [79]:
# 01 데이터 셋 불러오기
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import load_breast_cancer
import mglearn
cancer = load_breast_cancer()

X = cancer.data
y = cancer.target

# 02 데이터 셋 나누기 및 학습
X_train, X_test, y_train, y_test = train_test_split(X,y , 
                                       stratify=cancer.target, random_state=42)

In [80]:
model = RandomForestClassifier(n_estimators=5, random_state=2)  # 5개의 트리 
model.fit(X_train, y_train)

print("훈련 세트 정확도 : {:.3f}".format(model.score(X_train, y_train)))
print("테스트 세트 정확도 : {:.3f}".format(model.score(X_test, y_test)))

훈련 세트 정확도 : 1.000
테스트 세트 정확도 : 0.958

In [81]:
model.estimators_

[DecisionTreeClassifier(max_features='auto', random_state=1872583848),
 DecisionTreeClassifier(max_features='auto', random_state=794921487),
 DecisionTreeClassifier(max_features='auto', random_state=111352301),
 DecisionTreeClassifier(max_features='auto', random_state=1853453896),
 DecisionTreeClassifier(max_features='auto', random_state=213298710)]

In [82]:
# 5개의 모델에 대한 정확도 평가
for one_model in model.estimators_:
    print("학습용 세트 정확도 : {:.3f}".format(one_model.score(X_train, y_train)))
    print("테스트 세트 정확도 : {:.3f}".format(one_model.score(X_test, y_test)))
    print()

학습용 세트 정확도 : 0.986
테스트 세트 정확도 : 0.937

학습용 세트 정확도 : 0.981
테스트 세트 정확도 : 0.944

학습용 세트 정확도 : 0.962
테스트 세트 정확도 : 0.937

학습용 세트 정확도 : 0.986
테스트 세트 정확도 : 0.944

학습용 세트 정확도 : 0.965
테스트 세트 정확도 : 0.909

In [83]:
print(model.feature_importances_)  # 모델의 중요도
print(model.n_features_)           # 모델 사용 특징

[0.01573926 0.01565104 0.00203568 0.10677515 0.00583498 0.00250098
 0.00279083 0.1518233  0.00170642 0.         0.00408493 0.00285406
 0.00165178 0.00553254 0.         0.01549629 0.00621975 0.
 0.00340706 0.00362224 0.32952352 0.04192876 0.02694543 0.03620429
 0.02041974 0.00820242 0.01165303 0.15871316 0.01608264 0.00260073]
30