In [68]:
import openpyxl as oxl

print("openpyxl Ver : ", oxl.__version__)

openpyxl Ver :  3.0.5

In [69]:
#새 워크북 생성
from openpyxl import Workbook

In [70]:
#워크북 만들기
wb = Workbook()

print(type(wb))

#기본적으로 시트는 하나 생성
print(wb.sheetnames)

#활성화된 시트 확인
print(wb.active)

<class 'openpyxl.workbook.workbook.Workbook'>
['Sheet']
<Worksheet "Sheet">

In [71]:
#시트추가
ws1=wb.create_sheet("Sheet1")

print(wb.sheetnames)
print(wb.active)

['Sheet', 'Sheet1']
<Worksheet "Sheet">

In [72]:
#시트 추가
ws2=wb.create_sheet("Sheet2")

print(wb.sheetnames)

['Sheet', 'Sheet1', 'Sheet2']

In [73]:
#시트0을 사이에 넣을 때
ws3=wb.create_sheet("Sheet0", 1)

print(wb.sheetnames)
print(wb.active)

['Sheet', 'Sheet0', 'Sheet1', 'Sheet2']
<Worksheet "Sheet">

In [74]:
#시트이름 변경
new_ws2=wb['Sheet0']
new_ws2.title="두번째시트"

print(wb.sheetnames)

['Sheet', '두번째시트', 'Sheet1', 'Sheet2']

In [75]:
new_ws2=wb['Sheet2']
new_ws2.title="네번째시트"

print(wb.sheetnames)

['Sheet', '두번째시트', 'Sheet1', '네번째시트']

In [76]:
new_ws2['A1']='이름'
new_ws2['B1']='전화번호'

new_ws2['A2']='홍길동'
new_ws2['B2']='02-302-3333'

In [77]:
new_ws2.cell(row=3, column=1, value='김길동')
new_ws2.cell(row=3, column=2, value='010-222-3334')

In [78]:
print(new_ws2['A1'].value)

이름

In [79]:
print(new_ws2['A'][2].value)
print(new_ws2['B'][2].value)

김길동
010-222-3334

In [80]:
for i in range(0, 3, 1):
    print(new_ws2['A'][i].value)
    print(new_ws2['B'][i].value)

이름
전화번호
홍길동
02-302-3333
김길동
010-222-3334

In [81]:
new_ws2.cell(row=4, column=1, value='박길동')
new_ws2.cell(row=4, column=2, value='010-5252-1234')

for i in range(0, 4, 1):
    print(new_ws2['A'][i].value)
    print(new_ws2['B'][i].value)

이름
전화번호
홍길동
02-302-3333
김길동
010-222-3334
박길동
010-5252-1234

In [82]:
new_ws2['C1']='주소'

new_ws2.cell(row=2, column=3, value='서울')
new_ws2.cell(row=3, column=3, value='광주')
new_ws2.cell(row=4, column=3, value='부산')

In [83]:
for i in range(0, 4, 1):
    print(new_ws2['A'][i].value)
    print(new_ws2['B'][i].value)
    print(new_ws2['C'][i].value)

이름
전화번호
주소
홍길동
02-302-3333
서울
김길동
010-222-3334
광주
박길동
010-5252-1234
부산

In [84]:
### 이름에 넣을 때, 10글자 이상 나오면 입력이 안되도록하기

In [85]:
new_ws2['A5'] = ''
new_ws2['B5'] = '02-302-3333'

In [86]:
new_ws2['A6'] = '홍길동'
new_ws2['B6'] = '7777777'

In [87]:
print(wb.sheetnames)
new_ws_first = wb['Sheet']
new_ws_first['A1'] = "시트명"
new_ws_first['B1'] = 'Sheet'

print(new_ws_first['A1'].value, new_ws_first['B1'].value)

['Sheet', '두번째시트', 'Sheet1', '네번째시트']
시트명 Sheet

In [88]:
wb.save("주소록.xlsx")